<h1>Create a comment</h1>
<form action="<%= post_comments_url(params[:post_id])%>" method="POST">
  <%= auth_token %>
  <textarea rows="8" cols="40" name="comment[content]"></textarea>
  <input type="submit" value="Submit">
</form>
